
/* The background property takes an image, and the background-size property is set to 'cover' in order to have the image cover the entire browser window. This is what I wanted, to cover the entire window of the browser with an image. The structure.jpg image is a prototype of a paper sculpture.*/
body {  
  background: url(images/structure.jpg); 
  background-size: cover; 
}

/* My intention here was to create a transparent effect with the top header block, where the color is white but you can see through to the background image clearly */
header { 
  background: rgba(211, 211, 211, 0.404); 
  background-size: cover;
  padding-top: 50px;
  border-bottom: 7px solid black;
}

/* Initially I used white as the color for all the text within <h1>, <h2>, <p>, and <a> tags but I received a WAVE report error saying "Very Low Contrast between text and background color". I'm unclear about this error because the background image is a darker gray color and the text was visible and legible. It was more of a design decision to use white for the texts, but I changed the color of all these texts to black, to comply with creating higher contrast difference.   */
h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  text-align: left;
  padding-top: 20px;
  padding-left: 75px;
  padding-bottom: 80px
}

/* These are the styles for the sub-title heading "Student Profile" */
h2 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  text-align: left;
  padding-left: 75px;
  padding-bottom: 80px;
}

/* All the headings for each section (content, intro, about me, contact) are <h3> tags styles to be uppercased and smaller than the <h1> webpage title. */
h3 {
  color: yellow;
  text-transform: uppercase;
  text-align: left;
  font-size: 16px;
  padding-left: 75px;
}

/* Here i'm nesting styles. In one set I'm styling the paragraphs, unordered lists, and ordered lists on the webpage. */
p, ul, ol {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  padding-left: 75px;
  list-style-position: inside;
}

/* IMPORTANT: I wanted the paragraphs of intro and about me to both have the same width, and be more compact, closer to the rest of the text aligned to the left. */
div p {   
  padding-right: 900px;
  line-height: 17px;
}

/* Here i'm styling the first section below the header, the content section, where I share an outline of the student profile page. */
.content {
  padding-top: 80px;
  padding-bottom: 30px; 
  line-height: 15px;
}

/* These styles adjust the position of both the 'intro' and About Me' sections */
.about-me .intro {
  background-color: rgba(211, 211, 211, 0.404);
  padding-left: 10px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 0px;
}

/* This is a particular adjustment only for the 'about-me' section. */
.about-me {
  padding-top: 30px;
}

/* These styles modify the interest section, the position of the paragraph and the space between the text. */
.interests {     
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

/* These styles modify particular aspects of the inspiration section. The space between paragraphs and the space between listed items. */
.inspiration {  
  padding-bottom: 150px;
  line-height: 20px;
}

/* These link styles below will add color to the names listed on the "people who inspire me" list in the About Me section.*/
a:link {
  color: yellow;
}

a:visited {
  color: blue;
}

a:hover {
  color: white;
}

a:active {
  color: rgb(245, 25, 146);
}

/* The css rules here will style the contact info section. padding-top will lower the text "contact" further down the layout, and padding-bottom will make room for the div section that is enclosing the contact-info text below  */
.contact-info {
  padding-top: 15px;
  padding-bottom: 300px;
}

.contact-info h3 {
  padding-top: 50px;
}

.contact-info p {
  padding-top: 25px;
}

.contact-info .email {
  padding-bottom: 70px;
}

/*This targets the links within the footer, specifically the links in the contact info section. This style takes out the line underneath the links.*/
footer a {
  text-decoration: none;
}

/*These link styles will add styling to the contact info links in the footer section.*/
footer a:link {
  color: yellow;
}

footer a:visited {
  color: blue;
}

footer a:hover {
  color: white;
}

footer a:active {
  color: rgb(245, 25, 146);
}

/* The styles below target only the email link in the contact info section. I found that this link works differently than when you're jumping to a webpage from a regular Absolute link (url). The email link color stays the same color as set on the a:link, but for other absolute links the color changes to the setting on a:visited after I've clicked on it. */
footer .email a:link {
  color: blue;
}

footer .email a:visited {
  color: blue;
}

footer .email a:hover {
  color: white;
}

footer .email a:active {
  color: rgb(245, 25, 146);
}

/* This styles the <h3> tag within the footer div -modifying the heading Contact. */
footer div h3 {
  color: yellow;
}

/* Here we modify the style of the footer section as a whole. And highlight a border color on the top of the section for design purposes.*/
footer {
  background: rgba(211, 211, 211, 0.404);
  background-size: cover;
  padding-top: 50px;
  border-top: 7px solid black;
}

/* This is the horizontal rule selector, targeting the <hr> horizontal rule html tag. At the moment is creating a division between the contact links and the conclusion image at the bottom of the page, both inside the footer section. */
hr {
  margin-top: 100px;
  border-color: black;
  border-width: 5px;
  border-bottom-width: 50px
}

/* This is the conclusion image. A long time ago I saw this black & white photo of a construction site on instagram, and kept it because I really liked it, but i don't have the credits for it. This image shows a construction in process. I'm still in process working through the HTML & CSS lessons, i thought to include it in the webpage. The styles below adjust the size of the image and its position within the footer and the page layout. The property max-width adjusts the size of the image. */
img {  
  max-width: 200px;
  margin-top: 250px;
  margin-left: 75px;
}





